#Contact {}

#Contact .text-box {
    margin: 1.5rem;
}

#Contact .text-box span {
    font-size: 1.3rem;
    font-family: samim;
    color: var(--text-color);
    margin: 1rem 0;
}

#Contact .text-box p {
    font-family: sahel;
    font-size: .8rem;
    margin: .5rem 0;
}

#Contact .contactForm {
    width: 40vw;
    margin: 2rem;
}

#Contact .contactForm label {
    width: 100%;
   
}

#Contact .contactForm input {
    width: 100%;
}

#Contact .contactForm textarea {
    resize: vertical;
    width: 100%;
    display: block;
    margin: 2rem 0;
    padding: 1rem .5rem;
    color: var(--color-link);
    background-color: var(--input-color);
    border: none;
    font-size: .8rem;

}

