#Home {}

#Home .baner-main {
    width: 70vw;
}

#Home .baner-main img {
    width: 100%;
}

#Home .baner {
    width: 70vw;

}

#Home .baner img {
    width: 100%;
}

#Home .card {
    width: 100%;
    background-color: var(--bg-card);
    padding: 3rem 0;
    margin: 2rem 0;
    text-align: center;
}

#Home .card .btn {
    width: 40%;
}

#Home .testimonial {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: tanha;
    color: var(--testimonail);
    font-size: .8rem;
    text-align: center;
}

#Home .testimonial-name {
    margin: 1.5rem;
    font-size: .9rem;
    line-height: 1.5rem;
}

#Home .testimonial-text {
    line-height: 1.5rem;
}