#Portfolio {}

#Portfolio .gallery {
    width: 55vw;
    flex-direction: row;
}

#Portfolio .gallery .left,
#Portfolio .gallery .right {
    width: 50%;
    padding: .5rem .2rem;
}

#Portfolio .gallery .left img,
#Portfolio .gallery .right img {
    width: 100%;
}