#Pricing {
    width: 100%;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}

#Pricing .text-par {
    margin: 2rem 0;
    width: 70vw;
    text-align: center;
}

#Pricing .title {
    width: 70vw;
    font-size: 1.5rem;
    font-family: sahel;
    font-weight: bold;
    text-align: center;
    margin: 2rem 0;
}

#Pricing .par {
    width: 60vw;
    margin: 1rem auto;
    color: var(--text-color);
    line-height: 1.6rem;
    font-family: samim;
}

#Pricing .gallery {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Pricing .gallery img {
    width: 100%;
    margin: 1rem 0;
}

#Pricing .btn {
    text-align: center;
    margin: 1.4rem auto;
    background-color: var(--bg-title-color);
    transition: var(--transition);
    padding: .7rem 1.5rem;
    cursor: pointer;
}

#Pricing .btn a {
    text-decoration: none;
    color: var(--color-btn);
    font-size: 1.2rem;
    font-family: vazir;
}

#Pricing .btn:hover {
    background-color: var(--hover-color);
}

#Pricing .plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

#Pricing .plan .name-price {
    font-family: samim;
    font-size: 1.4rem;
    margin: 1rem 0;
    color: var(--text-color);
}

#Pricing .plan .Property {
    font-family: vazir;
    font-size: .8rem;
    color: var(--text-color);
    margin: 1rem 0;
}