#Pricing {
}

#Pricing .plan {
    margin: 1rem 0;
}

#Pricing .plan .name-price {
    font-family: samim;
    font-size: 1.4rem;
    margin: 1rem 0;
    color: var(--text-color);
}

#Pricing .plan .Property {
    font-family: vazir;
    font-size: .8rem;
    color: var(--text-color);
    margin: 1rem 0;
}